# Site settings
title: Jianyu Lai
email: jlai12@umd.edu
description: >- # this means to ignore newlines until "baseurl:"
  Personal website of Jianyu Lai, PhD, MPH, BMed - featuring research in public health and epidemiology.
twitter_username: jianyu16
github_username: JianyuLai

# Theme settings
remote_theme: mmistakes/minimal-mistakes@4.24.0
minimal_mistakes_skin: mint
search: false

# Build settings
markdown: kramdown
permalink: /:categories/:title/
paginate: 5
paginate_path: /page:num/
timezone: America/New_York

# Include pages directory
include:
  - _pages

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache
  - jekyll-remote-theme

# Author
author:
  name: "Jianyu Lai"
  avatar: "/assets/images/Jianyu Lai 3.JPG"
  bio: "PhD, MPH, BMed"
  links:
    - label: "Google Scholar"
      icon: "fas fa-fw fa-link"
      url: "https://scholar.google.com/citations?user=JUXhqcEAAAAJ&hl=en"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/jianyu-lai/"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/jianyu16?s=21&t=LQpgc0BW3HH1F5cyz9RiHg"
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:jlai12@umd.edu"

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

# Archives
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
